/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

.global-container {
    width: 98.7vw;
    min-width: 1000px;
}